# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

.DS_Store

# R package directory
r_packages_*

# Data
data/pbmc3k*
data/1M_neurons_filtered_gene_bc_matrices_h5.h5
data/brain_counts/
data/seurat_1m_neuron.rds
data/cl.obo
data/cl.owl
data/293t_3t3_filtered_gene_bc_matrices.tar.gz
data/293t_filtered_gene_bc_matrices.tar.gz
data/5k_Human_Donor1_PBMC_3p_gem-x_5k_Human_Donor1_PBMC_3p_gem-x_count_sample_filtered_feature_bc_matrix.h5
data/5k_Human_Donor2_PBMC_3p_gem-x_5k_Human_Donor2_PBMC_3p_gem-x_count_sample_filtered_feature_bc_matrix.h5
data/5k_Human_Donor3_PBMC_3p_gem-x_5k_Human_Donor3_PBMC_3p_gem-x_count_sample_filtered_feature_bc_matrix.h5
data/5k_Human_Donor4_PBMC_3p_gem-x_5k_Human_Donor4_PBMC_3p_gem-x_count_sample_filtered_feature_bc_matrix.h5
data/Parent_SC3v3_Human_Glioblastoma_filtered_feature_bc_matrix.tar.gz
data/jurkat:293t_50:50_filtered_gene_bc_matrices.tar.gz
data/jurkat_filtered_gene_bc_matrices.tar.gz
data/pbmc4k_filtered_gene_bc_matrices.tar.gz
data/refdata-gex-GRCh38-2020-A.tar.gz
data/t_3k_filtered_gene_bc_matrices.tar.gz
data/293t/
data/jurkat/
data/jurkat_293t/
data/pbmc20k/
data/pbmc20k_seurat/
